@import '../reset.less';
@import '../config.less';

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 18.75rem;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    .page-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .page {
        flex: 1;
        overflow: hidden;
    }
    .child-page {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #ffffff;
        z-index: 999;
    }
}

.am-navbar {
    border-bottom: 1px solid #ddd;
}
.page-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        display: block;
        border-top: 0.3rem solid rgba(0, 0, 0, 0.3);
        border-right: 0.3rem solid rgba(0, 0, 0, 0.3);
        border-bottom: 0.3rem solid rgba(0, 0, 0, 0.3);
        border-left: 0.3rem solid rgba(200, 37, 25, 0.8);
        border-radius: 50%;
        animation: loadRotating 0.8s 0s linear infinite;
    }
}

@keyframes loadRotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
